:root {
    --bg-color: #1a1818;
    --primary-color: #ffffff;
    --font-family: 'Poppins', sans-serif;
  }
  html{
    padding-top:25px;
    height:100%;
  }

  body {
    margin: 0;
    font-family: var(--font-family);
    /*background-color: #1a1818 !important;*/
    background-image: linear-gradient(#1a1818,#3e3939);
    color: var(--primary-color);
    display: grid;
    place-items: center;
  }

  main {
    display: grid;
    grid-template-columns: 750px;
    grid-template-rows: 200px 20px;
    place-items: center;
  }
  
  header{
    width: auto;
  }

  table{
    width: 750px;
    display: table;
    border-spacing: 2px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  } 

  .links:hover{
    color:#bbb;
  }

  .Info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: start center;
  }
  .Carp{
    float:right;
  }
  p.name {
    font: 2em 'Poppins', sans-serif;
    font-weight: 500;
  }

  hr.PageDivider {
    border: none;
    border-top: 3px dotted #bbb;
    width: 100%;
  }
